<div class="map-info-photo">
  <div class="info-prix" >
    <strong><%= garage.capacity %>m2</strong>
    <%= garage.price %>€/mois
  </div>

  <%= cl_image_tag garage.photo, crop: :fill %>

  <p><%= link_to "Aller voir l'annonce", garage_path(garage), class: "btn orange mt-3" %></p>

</div>



