<div class="row d-flex">

    <div class="col-6 garages-list ml-3">
      <h1>Voici tous les garages</h1>

        <% @garages.each do |garage| %>

          <%= render 'shared/garagecard', garage: garage %>

        <% end %>

    </div>
    <div id="map"
         class="olimap"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
</div>
