<div class="row flex">

    <div class="col-7 garages-list">
      <h1>Voici tous les garages</h1>

        <% @garages.each do |garage| %>

          <%= render 'shared/garagecard', garage: garage %>

        <% end %>

    </div>

    <div class="col-5 map-box map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.7214987925645!2d3.015220251417474!3d50.63229028202587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d55ba9f13cc3%3A0x5d2b76e345a692ec!2s2%20Avenue%20des%20Saules%2C%2059160%20Lille!5e0!3m2!1sfr!2sfr!4v1574177159604!5m2!1sfr!2sfr" width="800" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>
