<h1>Voici tous les garages</h1>

<% @garages.each do |garage| %>
<div style="border: 1px solid black">
  <h2>Garage de <%= garage.capacity %>m2</h2>
  <img style="width:200px;" src="<%= garage.photo %>"/>
  <p><%= garage.price %>€/mois - <%= garage.description %></p>
</div>
<% end %>
