
<div class="accreditation mt-5">
  <p class="p">SITE 100% SECURISE</p>
  <div class="row border-1">
    <div class="col-sm-3 col-12 medium-3 columns text-center mb">
      <img class="image" src="https://cdn.dribbble.com/users/2395444/screenshots/6305364/01.png" alt="">
    </div>

    <div class="col-sm-3 col-12 medium-3 columns text-center mb">
      <img class="image" src="https://www.reussir-mon-ecommerce.fr/wp-content/uploads/2016/03/logo-american-express-1-1024x1024.png" alt="">
    </div>

    <div class="col-sm-3 col-12 medium-3 columns text-center mb">
      <img class="image" src="https://www.pesapal.com/media/1114/verified-by-visa-logo-740x357.jpg?anchor=center&mode=crop&width=770&height=375&rnd=131750273300000000" alt="">
    </div>

    <div class="col-sm-3 col-12 medium-3 columns text-center mb">
      <img class="image" src="https://www.restomax.com/wp-content/uploads/2015/05/certification.png" alt="">
    </div>
  </div>
</div>



