<div class="banner" >
  <div class="container">
    <h1>  BESOIN DE PLACE POUR RANGER VOS PETITES AFFAIRES? UN GARAGE PEUT ETRE?</h1>
    <br>

    <%= form_tag garages_path, method: :get do %>
    <div class="d-flex">
     <%= text_field_tag :city, params[:city], class: "form-control", placeholder: "Dans quelle ville recherchez-vous ?"%>
     <%= submit_tag "Go", class: "btn btn-primary ml-1" %>
     </div>
    <% end %>

  </div>
  </div>
</div>
