<div class="banner" >
  <div class="container">
    <h1>Besoin de place pour ranger vos petites affaires ? Un garage peut être ?</h1>
    <br>
    <p><strong>No souci, on y a pensé</strong>!</p>
  </div>
</div>
