<div class="card-garage">
  <%= cl_image_tag garage.photo, crop: :fill %>

  <div class="card-garage-infos">
    <div>
      <h2></h2>
      <p><%= garage.description %></p>
      <p>Garage de <%= garage.capacity %>m2</p>
    </div>
  </div>

</div>


