<div class="row">
  <div class="col-sm-4 col-12 medium-4 columns text-center mb">
    <div class="feature">
      <img class = "icon" src="https://image.flaticon.com/icons/svg/182/182321.svg">
      <p> Consultez des milliers d'offres partout en france. </p>
    </div>
  </div>

  <div class="col-sm-4 col-12 medium-4 columns text-center mb">
    <div class="feature">
      <img class = "icon" src="https://image.flaticon.com/icons/svg/117/117967.svg">
      <p> Choisissez les meilleurs garages là où vous le souhaitez. </p>
    </div>
  </div>

  <div class="col-sm-4 col-12 medium-4 columns text-center mb">
    <div class="feature">
      <img class="icon" src="https://image.flaticon.com/icons/svg/1380/1380338.svg">
      <p>Contactez ou reservez en ligne. C'est simple, rapide et gratuit. </p>
    </div>
  <div/>


</div>
