<div class="footer">
  <div class="footer-links">
    <a href="https://www.mezabo.fr"><i class="icone fab fa-github"></i></a>
    <a href="https://www.mezabo.fr"><i class="icone fab fa-instagram"></i></a>
    <a href="https://www.mezabo.fr"><i class="icone fab fa-facebook"></i></a>
    <a href="https://www.mezabo.fr"><i class="icone fab fa-twitter"></i></a>
    <a href="https://www.mezabo.fr"><i class="icone fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">We-park Ingson with <i class="fas fa-heart"></i>
  </div>
</div>

