<div class = "search-bar mt-5 p-3 p-lg-1 pl-lg-4">
  <form action="#">
    <div class = "row">
      <div class = "col-lg-4 d-flex align-items-center form-group">
        <input type="text" name = "search" placeholder="Quelle ville?" class = "form-control border-0 shadow-0">
      </div class="col-lg-3 d-flex align-items-center form-group" align-items-center >
        <div class="input-label-absolute input-label-absolute-right w-100">
          <label for="Taille du garage">
            <input type="text" name="location" placeholder="Location" class="form-control border-0 shadow-0">
          </label>
        </div>
      <div class="col-lg-2" >
        <button type="submit" class="btn btn-primary btn-block rounded-xl h-100">
        </button>
      </div>
    </div>
  </form>

</div>

