

<h4>Villes</h4>
  <%= form_tag(garages_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag("search") %>
  <% end %>
























<!-- <div class = "search-bar mt-5 p-3 p-lg-1 pl-lg-4 mb-5">
  <form action="#">
    <div class = "row d-flex align-items-center">

      <div class = "col-sm-5 d-flex align-items-center form-group">
        <input type="text" name = "search" placeholder="Quelle ville?" class = "form-control border-1 shadow-0 align-items-center">
      </div class="col-sm-5 d-flex align-items-center form-group" align-items-center >

      <div class="col-sm-5 input-label-absolute input-label-absolute-right mt-2">
        <label for="Taille du garage">
          <input type="text" name="location" placeholder="taille du garage " class="form-control border-1 shadow-0 align-items-center">
        </label>
      </div>

      <div class="col-sm-2 px-4" >
        <button type="submit" class="btn btn-primary btn-block rounded-xl pr-10" style="border-radius: 10px;">
          RECHERCHER
        </button>
      </div>
    </div>
  </form>

</div>
 -->
