
<div class="stars">

  <% if note > 0 %>
    <% note.times do %>
      <i class="fas fa-star"></i>
    <% end %>

    <% (5-note).times do  %>
      <i class="far fa-star"></i>
    <% end %>
  <% end %>
</div>

