.image{
  height: 90px;
  width: 90px;
  display:block;
  margin:10px 0 10px 0;
}

.p{
  font-family: helvetica;
  font-size :25px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.accreditation{
  display: flex;
  justify-content: space-around;
}
