.date {
  display: flex;
  justify-content: space-between;
}

.date p {
    font-size: 15px;
    margin-top: 10px;

}

.info {
  margin-left: 110px;
  // display: flex;
  // position: relative;
}

.info h3 {
  // display: flex;
  // position: relative;
  color: #329AF0;

}


.form-wrapper h1 {
  color: #329AF0;
  margin-left: 70px;
}

.proprio {
  text-align: center
}

.annuler {
  position: absolute;
      top: 0px;
    right: 0px;
}
