.carddd {
  margin: 3px 3px;
  padding: 5px 10px;
  border-bottom: 1px solid #EBEBEB;
  position: relative;
}

.carddd img {
    margin: 0 auto;
    width: 90%;
    border-radius: 5px;
    height: 274px;
}


.top-div {
  border-bottom: 1px solid #EBEBEB;
}
.left-card {
  text-align: center;
    width: 500px;
}



.date p {
  font-size: 15px;
}

.price-location {
    font-size: 30px;
    color: #329AF0;
    margin-left: 50px;

}
.proprio {
  font-size: 15px ;
}

.proprio-middle p {
  margin-left: 72px;
}



