.icon{
  height: 50px;
  weight: 50px;
  color: #00ABE3;
}

.feature{
  display: flex;
  flex-direction: column;
}

.explain-row{
  margin-top: 10px;
  padding-top: 40px;
  border-radius: 15px;
  padding-bottom: 80px;
}

.mb-3, .my-3 {
  padding-top: 70px;
}
